:host {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 3fr minmax(max-content, max-content);
}

.container-header {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 0 10px 1rem;
  box-shadow: 0px 5px 25px #ccc;
  grid-column: span 2;
}

.container-sidebar {
  border: 2px solid red;
  min-height: 100svh;
}

.container-main {
  /* Usar o Grid? */
  display: flex;
  justify-content: center;
  align-items: center;
}
