* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
} 

.diet-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  // max-width: 400px;
}

.diet-card img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-radius: 4px;
  align-self: flex-start;
}

.diet-card h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1rem;
  align-self: flex-start;
}

.diet-card .diet-data {
  align-self: start;
}

.diet-card p {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: .4s;
  width: 100%;
  max-height: 35px;
  align-self: flex-end;
}

button:hover {
  background-color: #504caf;
}

.diet-search {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.diet-search input {
  padding: 5px;
  margin: 0;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* width: 100%;  */
  width: 600px;
}

.diet-search button {
  padding: 0;
  margin: 0;
  height: 35px;
}