<!-- Boas vindas -->
<div class="card flex justify-content-center align-items-center">
  <h3 class="px-4">Bem-vindo, {{ loggedUser.nome ? loggedUser.nome.split(' ')[0] : 'Visitante' }}!</h3>
</div>

<!-- Open Modal -->
<div class="card flex justify-content-center align-items-start py-8">
  <p-button (click)="showDialog()" label="Adicinar atividade"></p-button>
</div>

<!-- Cards -->
<app-cards [item]="atividades"></app-cards>

<!-- Modal -->
<div class="card flex justify-content-center align-items-start">
  <p-dialog header="Nova atividade" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      
        <form name="atividadeForm" class="flex-row">
          
          <div class="card flex justify-content-center  py-5">
            <p-dropdown 
            [options]="activities"
            [(ngModel)]="atividadeModel.act" 
            optionLabel="title" 
            [showClear]="true" 
            name="name"
            placeholder="Selecione"></p-dropdown>
          </div>
          
          <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input type="date" pInputText name="data" id="data" [(ngModel)]="atividadeModel.data" />
            </span>
          </div>

          <div class="card flex justify-content-center py-5">
            <p-button type="button" (click)="onRegister()" size="small">Registrar</p-button>
          </div>
                 
        </form>
      
  </p-dialog>
</div>